.allPatients{
    background: #edf1ef;
    min-height: 100vh;
}
.allPatients__body{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    padding: 20px;
}
.allPatients__bodyTable{
    /* height: 600px; */
    overflow: scroll;
}
.allPatients__bodyTable::-webkit-scrollbar{
    display: none;
}