a{
    text-decoration: none;
}

.detailsDoctor{
    background: #edf1ef;
    min-height: 100vh;
}
.ditailsDoctor__firstRow{
    margin: 20px;
    padding: 20px;
}
.ditailsDoctor__firstRowBody{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-top: 20px;
}

.ditailsDoctor__firstRowBodyLeft{
    padding: 20px;
    border: 1px solid rgb(240, 236, 236)
}
.detailsDoctor__firstRowBodyRight{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (max-width: 768px) {
    .ditailsDoctor__firstRowBody {
        grid-template-columns: 1fr;
    }
    .detailsDoctor__firstRowBodyRight{
        margin-top: 20px;
    }
}
.detailsDoctor__firstRowBodyRightTableScroll{
    overflow: scroll;
}
.detailsDoctor__firstRowBodyRightTableScroll::-webkit-scrollbar{
    display: none;
}
.detailsDoctor__firstRowBodyRightTable{
    border: 1px solid rgb(240, 236, 236);
    min-width: 400px;
    max-height: 280px;
}
.detailsDoctor__firstRowBodyRightTable tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.detailsDoctor__firstRowBodyRightTable tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}
.detailsDoctor__firstRowBodyRightTable tr td:nth-child(1) {
    font-weight: bold;
    padding-right: 10px;
}
.detailsDoctor__firstRowBodyRightTable td {
    padding: 10px 0;
    margin: 0 15px;
}

.detailsDoctor__secondRow{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    margin: 20px;
    padding: 20px;
}
.detailsDoctor__secondRowTableScroll{
    overflow: scroll;
    max-height: 350px;
}
.detailsDoctor__secondRowTableScroll::-webkit-scrollbar{
    display: none;
}
.detailsDoctor__secondRowTable{
    min-width: 900px;
    border: 1px solid rgb(240, 236, 236);
    margin-top: 20px;
}
.detailsDoctor__secondRowTable tr:nth-child(1){
    font-weight: bold;
    background-color: #cfebdc !important;  
}
.detailsDoctor__secondRowTable tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
}
.detailsDoctor__secondRowTable td{
    padding: 10px 30px;
}
.detailsDoctor__secondRowTable tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}



